---
const {timelineItems} = Astro.props;
---

<div class="relative border-l-2 border-gray-400 pl-8">
  {timelineItems.map((item: { date: string, technologies: {icon: string, name: string}[] }) => (
    <div class="relative mb-8 flex items-start">
      
      <!-- Línea de tiempo con iconos -->
      <div class="flex flex-col items-center">
        {item.technologies.map((tech: { icon: string, name: string }) => (
          <div class="w-8 h-8 bg-gray-200 rounded-full flex justify-center items-center mb-2 shadow">
            <img src={`/icons/${tech.icon}.svg`} alt={tech.name} class="w-6 h-6" />
          </div>
        ))}
      </div>

      <!-- Tecnologías a la derecha -->
      <div class="ml-6 bg-gray-100 p-2 lg:p-4 rounded shadow w-full">
        <b class="underline">{item.date}</b>
        {item.technologies.map((tech: { icon: string, name: string }) => (
          <div class="flex items-center space-x-2">
            <span class="text-gray-800 font-medium">{tech.name}</span>
          </div>
        ))}
      </div>
    </div>
  ))}
</div>